PORT=
MONGO_URI=
REDIS_URL=
REDIS_URL=
JWT_SECRET=
FRONTEND_URL=
NODE_ENV=
EMAIL_PASS=
EMAIL_USER=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=